#symforce==0.9.0
#symforce-sym==0.9.0
#symengine==0.11.0
sympy==1.11.1
#pluggy==1.4.0
argh==0.31.2
click==8.1.7
Jinja2==3.1.3
MarkupSafe==2.1.1
types-jinja2==2.11.9
types-markupsafe==1.1.10
types-requests==2.31.0.20240125
types-setuptools==69.0.0.20240125
typing-extensions==4.3.0
ruff==0.1.14
numpy==1.23.0
ply==3.11
six==1.16.0
scipy==1.10.1
clang-format==17.0.6
graphviz==0.20.1
platformdirs==2.5.2
mypy-extensions==0.4.3
pathspec==0.9.0
tomli==2.0.1
mpmath==1.2.1
pytest==8.0.1
iniconfig==2.0.0
packaging==23.2
pyparsing==3.1.1
exceptiongroup==1.2.0
pytest_shard==0.1.2
